.bullets {
    $icon-bullet-size: 3.5em;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    margin-bottom: $base-line-height;
    overflow: auto;
    padding: 0;
    .bullet {
        flex-basis: 20em;
        flex-grow: 1;
        margin: 1.2em;
    }
    .bullet-content {
        margin-bottom: 1.5em;
    }
    h5 {
        color: rgba(44, 32, 22, 0.85);
        border-bottom: 1px solid transparentize($base-font-color, 0.8);
        display: inline-block;
    }
    li {
        list-style: none;
    }
    p {
        color: $base-font-color;
        line-height: $base-line-height;
    }
}