//footer
.footer
  +clearfix

  $base-spacing: 1.5em !default
  $footer-background: #2e2e2e
  $footer-color: #fff
  $footer-link-color: transparentize($footer-color, 0.4)
  $footer-disclaimer-color: transparentize($footer-color, 0.4)

  background: $footer-background
  padding: ($base-spacing * 2) $gutter
  margin-top: $section-margin-top
  width: 100%

  .footer-links
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-bottom: $base-spacing

  ul
    flex-basis: 20em
    flex-shrink: 0
    margin-bottom: $base-spacing * 2
    padding: 0

  li
    color: $footer-color
    line-height: 1.2em
    list-style: none
    text-align: left

  li a
    color: $footer-link-color
    text-decoration: none
    font-size: .8em

    &:focus,
    &:hover
      color: transparentize($footer-color, 0)

  li h6
    color: $footer-color
    font-size: 1em
    margin-bottom: 0.4em
