.hero {
    @include backImage("/assets/img/headerBg.png");
    .hero-logo img {
        height: em(300px);
        margin-bottom: 2em;
    }
    .hero-inner {
        @include clearfix;
        padding: 2em;
        text-align: center;
    }
}