.hero {
  @include backImage("/assets/img/headerBg.png");
  margin-bottom: 2em;
  .hero-logo img {
    height: em(300px);
    margin-bottom: 1em;
  }
  .hero-inner {
    @include clearfix;
    padding: 2em;
    text-align: center;
  }
}

.hero-trails {
  @extend .hero;
  @include backImage("/assets/img/trail_header_image.png");
  .hero-logo img {
    margin: 0;
  }
}