.trail-status
  +span-columns(6)
  +shift(3)
  +box-shadow

  border-radius: 5px
  background-color: $SorbaOrange
  color: white
  border: 1px solid white
  padding: 1em 0 0

  .textwidget
    margin-bottom: 1em

  h4
    color: white
    margin: 0

  img
    display: inline-block
    position: relative
    top: em(3px)
    left: em(5px)

  +media($laptop)
    +span-columns(7)
    +shift(1.5)


  +media($tablet)
    +span-columns(6)
    +shift(1)


  +media($mobile)
    +span-columns(3.5)
    +shift(0.25)

  +media($mobile-s)
    padding-left: 1em
    padding-right: 1em
    +fill-parent
    +shift(0)

blockquote.twitter-tweet
  display: inline-block
  padding: 16px
  margin: 10px 0
  max-width: 468px
  border: #ddd 1px solid
  border-top-color: #eee
  border-bottom-color: #bbb
  border-radius: 5px
  box-shadow: 0 1px 3px rgba(0,0,0,0.15)
  font: bold 14px/18px Helvetica, Arial, sans-serif
  color: #000

blockquote.twitter-tweet p
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif
  margin: 0 5px 10px 0

blockquote.twitter-tweet a[href^="https://twitter.com"]
  font-weight: normal
  color: #666
  font-size: 12px
